@media screen and (max-width: 800px) {
  main {
    padding: 0;
  }

  h3 {
    font-size: 2cqw;
  }
  p {
    line-height: 3.5cqw;
    text-align: justify;
  }

  .menu_btn {
    padding-top: 18px;
  }
  #conf2_3 {
    display: flex;
  }
  .logo1 {
    width: 35px;
  }
  .logo2 {
    width: 30px;
  }
  .web_btn {
    width: 185px;
    height: 60px;
  }

  /** INDX **/

  #p1 {
    top: 23%;
    left: 34%;
    transform: translate(-50%, -50%);
  }

  #p2 {
    top: 65%;
    left: 20%;
    transform: translate(-50%, -50%);
  }

  #p3 {
    top: 65%;
    left: 49%;
    transform: translate(-50%, -50%);
  }
  #p4 {
    top: 65%;
    left: 79%;
    transform: translate(-50%, -50%);
  }
  .buttoni {
    font-size: 0.7rem;
  }
  .btn_idx1 {
    padding-top: 17px;
  }
  .h3_i {
    font-size: 0.9rem;
  }
  .con_txt1_ {
    padding-top: 74px;
    left: 36%;
  }
  .img1_a {
    width: 330px;
    left: 30%;
    top: 70%;
    z-index: 15;
  }
  .img1_b {
    width: 330px;
    left: -25%;
  }
  .img1_c {
    right: 0%;
  }
  .img2_a {
    width: 330px;
    top: 4%;
  }
  .img2_b {
    width: 330px;
  }
  .con_txt2_ {
    left: -43%;
    padding-top: 96px;
  }
  .con2_c {
    left: 65%;
    rotate: 167deg;
  }

  /** T2 **/
  .opgavefokus1 {
    padding-left: 10%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-top: 10%;
    width: 35ch;
  }
  .temaimg {
    width: 300px;
  }

  .opgavefokus1_1 {
    padding-left: 5%;
    padding-right: 10%;
  }

  #orangeflower2 {
    top: 83%;
  }
  .px10 {
    position: relative;
    top: 10%;
  }

  /** T3 **/
  .temaimg2_3 {
    width: 270px;
  }
  .temaimg3_3 {
    left: -24%;
  }
  .h2_3 {
    padding-bottom: 5px;
  }

  #blueflower2 {
    top: 222%;
  }

  /** T4 **/
  #dgreenflower2 {
    top: 191%;
  }
  .h2_4 {
    margin-bottom: 5px;
  }

  /** T5 **/
  .h2_5 {
    padding-bottom: 20px;
  }
  #pinkflower1 {
    top: 10%;
  }
  .opgavefokus2 {
    width: 35ch;
  }
  .grid_vid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .vid_5 {
    grid-row: 2;
    width: 550px;
    justify-self: center;
    padding: 0;
    padding-top: 5%;
  }
  .t5_txt {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }
  .grid4_4 {
    display: grid;
    grid-template-columns: 1fr;
    height: 820px;
  }
  .img_con5_a {
    left: 32%;
    top: -7%;
    width: 430px;
  }
  .img_con5_b {
    z-index: 300;
    top: -29%;
    width: 440px;
  }

  /** T6 **/
  #string {
    top: 77%;
  }
  #brownflower1 {
    top: 10%;
    rotate: 39deg;
    z-index: -1;
  }
  #txt6_1 {
    position: absolute;
    width: 35cqw;
    top: 34%;
  }
  .con_kontakt {
    left: 71%;
    padding-top: 25px;
    width: 21cqw;
    height: 8cqw;
  }
  #con_flow {
    top: 167%;
  }
}
