* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "general_sansbold";
  src: url(fonts/generalsans-bold-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gambettamedium";
  src: url(fonts/gambetta-medium-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  --font_col: #212427;
  --primary_font: "general_sansbold", serif;
  --secondary_font: "gambettamedium", sans-serif;
  --color_box: #f1ede0;
  --bagground_col: #f9f6ee;
  --t2_col: #ff931e;
  --t3_col: #3fa9f5;
  --t4_col: #395f20;
  --t5_col: #ff7bac;
  --t6_col: #d95829;
}

body {
  background-color: var(--bagground_col);
  font-family: var(--primary_font);
}

main {
  margin: 30px;
  padding: 30px;
  overflow: hidden;
}

h1 {
  text-transform: uppercase;
  font-size: 4.5cqw;
  margin-top: 5cqw;
}
h2 {
  text-transform: uppercase;
  font-size: 2cqw;
}

h3 {
  font-size: 1.2cqw;
  font-weight: lighter;
  text-transform: uppercase;
}

p {
  font-family: var(--secondary_font);
  line-height: 2.5cqw;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--font_col);
}

img {
  border-radius: 1.5cqw;
  width: 100%;
  height: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--bagground_col);
  text-transform: uppercase;
  overflow: hidden;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--bagground_col);
  overflow: hidden;
}

.menu_underline {
  text-decoration: underline;
}

.logo1 {
  width: 25%;
  height: auto;
  border-radius: 0;
}

.logo img {
  width: 10cqw;
  height: auto;
  border-radius: 0;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: var(--font_col);
  /* text-decoration: none; */
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #ff2a2a;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--font_col);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--bagground_col);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 15px;
    padding-top: 20px;
  }
}

.menu_underline {
  text-decoration: 2px underline;
}

/***** INDEX ****/

.grid_i_1,
.grid_i_3 {
  color: #ff2a2a;
}

#p1 {
  position: absolute;
  top: 34%;
  left: 20%;
  transform: translate(-50%, -50%);
}

#p2 {
  position: absolute;
  top: 123%;
  left: 13%;
  transform: translate(-50%, -50%);
}

#p3 {
  position: absolute;
  top: 123%;
  left: 37%;
  transform: translate(-50%, -50%);
}

#p4 {
  position: absolute;
  top: 123%;
  left: 82%;
  transform: translate(-50%, -50%);
}
.grid_i_2 {
  margin-bottom: 3cqw;
}

.buttons_i {
  display: flex;
  justify-content: center;
  margin: 1cqw 0 1cqw 0;
}

.buttoni {
  background-color: white;
  width: 15cqw;
  display: block;
  height: 6cqw;
  text-align: center;
  padding-top: 2.5cqw;
  margin: 1.5cqw;
  text-decoration: none;
  color: var(--font_col);
  padding-left: 1.2cqw;
  padding-right: 1.2cqw;
  text-transform: uppercase;
  box-shadow: 0.8cqw 0.8cqw 0.1px #4b2c20;
}

#p5 {
  padding: 0 4cqw 0 4cqw;
}

.h3_i {
  color: #ff2a2a;
  text-transform: uppercase;
}

.con1_2 {
  display: flex;
  margin-bottom: 25cqw;
  margin-top: 10cqw;
}

.con_txt1_ {
  width: 65ch;
  position: relative;
  left: 43%;
  z-index: 20;
  padding-top: 13cqw;
  text-align: end;
}

.con1_a,
.con1_b {
  /* width: 100cqw; */
  position: relative;
}

.img1_a {
  width: 573px;
  position: relative;
  left: 54%;
  top: 70%;
  z-index: 15;
}

.img1_b {
  width: 573px;
  position: relative;
}

.con1_c {
  width: 25cqw;
  position: absolute;
  left: 15%;
}

.img1_c {
  width: 100%;
  position: relative;
  right: -15%;
  z-index: 20;
  rotate: -166deg;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.con2_2 {
  display: flex;
  margin-bottom: 25cqw;
  margin-top: 20cqw;
}

.con_txt2_ {
  width: 85ch;
  position: relative;
  left: -38%;
  z-index: 20;
  padding-top: 16cqw;
}

.img2_a {
  width: 573px;
  position: relative;
  left: 9%;
  top: 1%;
}

.img2_b {
  width: 573px;
  position: relative;
  z-index: 15;
  top: 80%;
  left: -48%;
}

.con2_c {
  width: 25cqw;
  position: absolute;
  left: 57%;
}

.img2_c {
  width: 100%;
  position: relative;
  z-index: 20;
}

/*** PROJEKTER ***/
#greenflower1 {
  z-index: -1;
  position: absolute;
  width: 50cqw;
  top: 10%;
  left: 50%;
}

#greenflower2 {
  z-index: -1;
  position: absolute;
  width: 35cqw;
  top: 73%;
}
.carousel {
  width: 70%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 100%;
  display: block;
  border-radius: 15px;
  margin-bottom: 10px;
}

.prevBtn,
.nextBtn {
  position: relative;
  background-color: var(--bagground_col);
  border: none;
  cursor: pointer;
  width: 40px;
  left: 84%;
  margin-bottom: 5px;
}

/* .car_img {
  text-align: center;
  margin-top: 5px;
  color: #7ac943;
  background-color: var(--color_box);
} */

/*** tema sider ***/
.temagrid_1 {
  background-color: var(--color_box);
  display: grid;
  grid-template-columns: repeat(2, auto);
  border-radius: 1.5cqw;
  margin: 0 4cqw 0 4cqw;
  margin-top: 5%;
}

.temaimg {
  width: 34cqw;
  height: auto;
}

.opgavefokus1 {
  padding-left: 5%;
  padding-top: 5%;
  width: 65ch;
}

.temaimg1 {
  padding: 5%;
}

.opgavefokus2 {
  padding-right: 5%;
  padding-top: 5%;
  width: 65ch;
}

.temaimg2 {
  padding: 5%;
}

.tema_btn {
  display: flex;
  justify-content: center;
  margin: 5cqw 0 11cqw 0;
}

.web_btn {
  background-color: white;
  width: 15cqw;
  display: block;
  height: 6cqw;
  text-align: center;
  padding-top: 2.5cqw;
  margin: 1.5cqw;
  text-decoration: none;
  color: var(--font_col);
  text-transform: uppercase;
  box-shadow: 0.8cqw 0.8cqw 0.1px #4b2c20;
}

.menu_btns {
  display: flex;
  justify-content: center;
  margin: 1cqw 0 1cqw 0;
}

.menu_btn {
  background-color: var(--color_box);
  width: 15cqw;
  display: block;
  height: 6cqw;
  text-align: center;
  padding-top: 2.5cqw;
  margin: 1.5cqw;
  text-decoration: none;
  color: var(--font_col);
  padding-left: 1.2cqw;
  padding-right: 1.2cqw;
  text-transform: uppercase;
  border-radius: 1.5cqw;
  overflow: hidden;
}

/* T2 */
#tema_txt2 {
  text-indent: 7cqw;
  color: var(--t2_col);
  margin-top: 0;
}
.h2_2 {
  color: var(--t2_col);
  margin-bottom: 8px;
}

#flowerorange1 {
  width: 62cqw;
  height: auto;
  position: absolute;
  z-index: -2;
  top: -12%;
  left: 34%;
  overflow: hidden;
  rotate: 9deg;
}

#orangeflower2 {
  width: 56cqw;
  height: auto;
  position: absolute;
  z-index: -2;
  top: 136%;
  left: 3%;
  rotate: 129deg;
}

/* T3 */
#tema_txt3 {
  text-indent: 7cqw;
  color: var(--t3_col);
  margin-top: 0;
}

.h2_3 {
  color: var(--t3_col);
}

.p_3 {
  padding-top: 2%;
  padding-bottom: 2%;
}

.opgavefokus3 {
  background-color: var(--color_box);
  border-radius: 1.5cqw;
  margin: 0 4cqw 0 4cqw;
  margin-top: 0px;
  margin-top: 5%;
  padding: 5%;
}

.opgavefokus3_3 {
  display: flex;
}

.temaimg1_3,
.temaimg2_3,
.temaimg3_3 {
  padding: 2%;
  position: relative;
}

.temaimg3_3 {
  left: -18%;
}

.temaimg2_3 {
  left: -15%;
  top: 24%;
  z-index: 300;
  width: 30cqw;
}

.temagrid_4 {
  display: grid;
  background-color: var(--color_box);
  border-radius: 1.5cqw;
  margin: 0 4cqw 0 4cqw;
  margin-top: 5%;
  justify-content: space-around;
}

.opgavefokus3_3_a {
  grid-column: 1;
}

.opgavefokus3_3_b {
  grid-column: 2;
}

.temaimg4 {
  padding: 5%;
}

.temaimg4_1 {
  padding: 5% 5% 5% 0;
}

#præs_link,
#proc_link {
  text-decoration: underline;
  text-transform: none;
  font-weight: lighter;
}

#img4_a {
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 1.5cqw;
}
#img4_b {
  padding-top: 5%;
  padding-bottom: 17%;
}

#blueflower1 {
  width: 56cqw;
  height: auto;
  position: absolute;
  z-index: -2;
  top: 9%;
  left: -8%;
  overflow: hidden;
  rotate: 301deg;
}

#blueflower2 {
  width: 50cqw;
  height: auto;
  position: absolute;
  z-index: -2;
  top: 277%;
  left: 49%;
  overflow: hidden;
}
.lay_btn {
  position: relative;
}

/* T4 */
.temagrid_4_4 {
  display: flex;
  background-color: var(--color_box);
  border-radius: 1.5cqw;
  margin: 0 4cqw 0 4cqw;
  margin-top: 5%;
  justify-content: space-around;
}

#tema_txt4 {
  text-indent: 7cqw;
  color: var(--t4_col);
  margin-top: 0;
}

.h2_4 {
  color: var(--t4_col);
}
.opgavefokus3_3_3a {
  display: flex;
  position: relative;
  left: -5%;
}

.opgavefokus3_3_3 {
  display: flex;
  position: relative;
  left: -10%;
}

.insp_img_a {
  position: relative;
  padding: 2%;
}

.insp_img_a_a {
  left: 22%;
  z-index: 300;
  top: -10%;
}

.insp_img_b {
  position: relative;
  padding: 2%;
}

.temaimg4_4 {
  width: 30cqw;
  height: auto;
}

#dgreenflower1 {
  width: 56cqw;
  height: auto;
  position: absolute;
  z-index: -2;
  top: -11%;
  left: -8%;
  overflow: hidden;
  rotate: 126deg;
}

#dgreenflower2 {
  width: 40cqw;
  height: auto;
  position: absolute;
  z-index: -2;
  top: 301%;
  left: 53%;
  overflow: hidden;
  rotate: 21deg;
}

/* T5 */
#tema_txt5 {
  text-indent: 7cqw;
  color: var(--t5_col);
  margin-top: 0;
}

.h2_5 {
  color: var(--t5_col);
}

#video_2 {
  width: 100%;
  border-radius: 1.5cqw;
}

.con_5 {
  position: relative;
}

.img_con5_a {
  position: relative;
  width: 30cqw;
  left: -13%;
  top: 7%;
}

.img_con5_b {
  z-index: 300;
  position: relative;
  width: 30cqw;
  top: -10%;
}

#pinkflower1 {
  width: 49cqw;
  height: auto;
  position: absolute;
  z-index: -2;
  top: 20%;
  left: 31%;
  overflow: hidden;
}

#pinkflower2 {
  width: 45cqw;
  height: auto;
  position: absolute;
  z-index: -2;
  top: 225%;
  left: 1%;
  overflow: hidden;
}

/* T6 */
#tema_txt6 {
  text-indent: 7cqw;
  color: var(--t6_col);
  margin-top: 0;
}

.con1_t6 {
  width: 100%;
  padding: 5%;
}

.t6_h2 {
  color: var(--t6_col);
  margin-bottom: 5px;
}

.t6_txt {
  width: 100%;
  padding-right: 5%;
}

.temagrid_6_6 {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--color_box);
  border-radius: 1.5cqw;
  margin: 0 4cqw 0 4cqw;
  margin-top: 5%;
  justify-content: space-around;
}

.con_6 {
  display: flex;
  justify-content: center;
}

.img_6 {
  width: 600px;
}
.i520 {
  width: 520px;
}

#kobberflower1 {
  width: 43cqw;
  height: auto;
  position: absolute;
  z-index: -2;
  top: -1%;
  left: 49%;
  rotate: -103deg;
}

#kobberflower2 {
  width: 430px;
  height: auto;
  position: absolute;
  z-index: -2;
  top: 196%;
  left: 6%;
  rotate: 270deg;
}

/** om mig **/
#om_con_1 {
  background-color: var(--color_box);
  border-radius: 1.5cqw;
}

#string {
  position: absolute;
  width: 13cqw;
  right: 7%;
  top: 96%;
}

#om_h1 {
  color: #4b2c20;
  margin: 0;
  text-indent: 7cqw;
  margin-bottom: 2cqw;
}

#profile_img {
  width: 50cqw;
  padding: 4cqw;
}
#brownflower1 {
  position: absolute;
  width: 35cqw;
  top: 20%;
  left: 51%;
  rotate: 55deg;
}
#con_flow {
  width: 42cqw;
  position: absolute;
  top: 258%;
  z-index: -1;
  rotate: 23deg;
}

#brownflower2 {
  position: relative;
  width: 100%;
}

#txt6_1 {
  position: absolute;
  width: 27cqw;
  left: 53%;
  top: 95%;
}

#om_txt_con4 {
  padding-left: 4cqw;
  padding-right: 17cqw;
  padding-bottom: 4cqw;
  margin-bottom: 2cqw;
}

#img1_1 {
  z-index: 1;
  position: relative;
}

#img1_2 {
  /* z-index: 1; */
  position: relative;
  padding-top: 9cqw;
}

/* modal kode fra chat gpt*/
/* The Modal (background) */
.kontakt {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scrolling if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal Content */
.kontakt-content {
  background-color: var(--color_box);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 62%;
  border-radius: 1.5cqw;
  text-align: center;
}
#kontakt_logo {
  width: 11cqw;
  border-radius: 0;
  padding-top: 3cqw;
}

#kon_h3 {
  padding-top: 2cqw;
  padding-bottom: 2cqw;
  text-transform: uppercase;
  font-size: 2cqw;
}
#kon_p {
  padding-top: 2cqw;
  padding-bottom: 2cqw;
  font-size: 1.5cqw;
  font-family: var(--primary_font);
  text-align: center;
}

#x {
  width: 4cqw;
}

/* Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.con_kontakt {
  background-color: white;
  width: 15cqw;
  display: block;
  height: 6cqw;
  text-align: center;
  padding-top: 2.5cqw;
  margin: 1.5cqw;
  text-decoration: none;
  color: var(--font_col);
  text-transform: uppercase;
  box-shadow: 0.8cqw 0.8cqw 0.1px #4b2c20;
  position: relative;
  left: 76%;
}

@media screen and (max-width: 800px) {
  main {
    padding: 0;
  }

  h3 {
    font-size: 2cqw;
  }
  p {
    line-height: 3.5cqw;
    text-align: justify;
  }

  .menu_btn {
    padding-top: 18px;
  }
  #conf2_3 {
    display: flex;
  }
  .logo1 {
    width: 35px;
  }
  .logo2 {
    width: 30px;
  }
  .web_btn {
    width: 185px;
    height: 60px;
  }

  /** INDX **/

  #p1 {
    top: 23%;
    left: 34%;
    transform: translate(-50%, -50%);
  }

  #p2 {
    top: 65%;
    left: 20%;
    transform: translate(-50%, -50%);
  }

  #p3 {
    top: 65%;
    left: 49%;
    transform: translate(-50%, -50%);
  }
  #p4 {
    top: 65%;
    left: 79%;
    transform: translate(-50%, -50%);
  }
  .buttoni {
    font-size: 0.7rem;
  }
  .btn_idx1 {
    padding-top: 17px;
  }
  .h3_i {
    font-size: 0.9rem;
  }
  .con_txt1_ {
    padding-top: 74px;
    left: 36%;
  }
  .img1_a {
    width: 330px;
    left: 30%;
    top: 70%;
    z-index: 15;
  }
  .img1_b {
    width: 330px;
    left: -25%;
  }
  .img1_c {
    right: 0%;
  }
  .img2_a {
    width: 330px;
    top: 4%;
  }
  .img2_b {
    width: 330px;
  }
  .con_txt2_ {
    left: -43%;
    padding-top: 96px;
  }
  .con2_c {
    left: 65%;
    rotate: 167deg;
  }
  /** proj **/
  .prevBtn,
  .nextBtn {
    left: 81%;
  }

  #greenflower2 {
    top: 60%;
  }

  /** T2 **/
  .opgavefokus1 {
    padding-left: 10%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-top: 10%;
    width: 35ch;
  }
  .temaimg {
    width: 300px;
  }

  .opgavefokus1_1 {
    padding-left: 5%;
    padding-right: 10%;
  }

  #orangeflower2 {
    top: 83%;
  }
  .px10 {
    position: relative;
    top: 10%;
  }

  /** T3 **/
  .temaimg2_3 {
    width: 270px;
  }
  .temaimg3_3 {
    left: -24%;
  }
  .h2_3 {
    padding-bottom: 5px;
  }

  #blueflower2 {
    top: 222%;
  }

  /** T4 **/
  #dgreenflower2 {
    top: 191%;
  }
  .h2_4 {
    margin-bottom: 5px;
  }

  /** T5 **/
  .h2_5 {
    padding-bottom: 20px;
  }
  #pinkflower1 {
    top: 10%;
  }
  .opgavefokus2 {
    width: 35ch;
  }
  .grid_vid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .vid_5 {
    grid-row: 2;
    width: 550px;
    justify-self: center;
    padding: 0;
    padding-top: 5%;
  }
  .t5_txt {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }
  .grid4_4 {
    display: grid;
    grid-template-columns: 1fr;
    height: 820px;
  }
  .img_con5_a {
    left: 32%;
    top: -7%;
    width: 430px;
  }
  .img_con5_b {
    z-index: 300;
    top: -29%;
    width: 440px;
  }

  .con1_t6 {
    width: 100%;
    padding: 5%;
  }
  .t6_txt {
    width: 100%;
    padding-right: 5%;
  }

  #kobberflower2 {
    top: 130%;
  }

  /** T6 **/
  #string {
    top: 74%;
  }
  #brownflower1 {
    top: 10%;
    rotate: 39deg;
    z-index: -1;
  }
  #txt6_1 {
    position: absolute;
    width: 35cqw;
    top: 34%;
  }
  .con_kontakt {
    left: 71%;
    padding-top: 25px;
    width: 21cqw;
    height: 8cqw;
  }
  #con_flow {
    top: 167%;
  }

  /** om **/
  .kontakt-content {
    height: 37%;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 5.5cqw;
  }
  p {
    line-height: 25px;
  }
  .menu_btn {
    font-size: 2cqw;
    padding-top: 7px;
  }
  #p1 {
    top: 16%;
  }
  #p2,
  #p3,
  #p4 {
    top: 36%;
  }
  .buttoni {
    height: 43px;
    width: 100px;
  }
  .btn_idx1 {
    padding-top: 12px;
  }
  .btn_idx2 {
    padding-top: 17px;
  }
  #p5 {
    line-height: 30px;
    padding-top: 15px;
  }
  .img1_a {
    width: 210px;
    left: -26%;
    top: 44%;
    z-index: 15;
  }
  .img1_b {
    width: 210px;
    left: -85%;
  }
  .con_txt1_ {
    padding-top: 143px;
    left: 70%;
  }
  .img2_a {
    width: 210px;
    top: -25%;
    left: 3%;
  }
  .img2_b {
    width: 210px;
    top: 36%;
    left: -62%;
  }
  .con2_c {
    z-index: 500;
  }
  .con_txt2_ {
    left: -122%;
    padding-top: 100px;
  }

  /** proj **/
  .carousel {
    width: 100%;
  }
  .prevBtn,
  .nextBtn {
    width: 28px;
    left: 78%;
  }
  #greenflower2 {
    top: 42%;
  }
  /** T2 **/
  #flowerorange1 {
    top: -1%;
  }
  .temagrid_1 {
    grid-template-columns: 1fr;
  }
  .opgavefokus1 {
    width: 29ch;
  }
  .h2_2,
  .h2_3 {
    font-size: 4cqw;
  }
  /* T3*/
  .px10 {
    top: -7%;
  }
  .temaimg1_3 {
    width: 255px;
  }
  .temaimg2_3 {
    width: 252px;
    left: -27%;
  }
  .opgavefokus3_3 {
    height: 470px;
  }
  .temaimg3_3 {
    left: -63%;
    top: 50%;
  }
  .opgavefokus3_3_b {
    grid-row: 2;
    grid-column: 1;
    padding: 5%;
  }
  /* T4 */
  .h2_4 {
    font-size: 4cqw;
  }
  .con_444 {
    height: 675px;
    display: grid;
  }
  .insp_img_b,
  .insp_img_a {
    width: 230px;
  }
  .insp_img_a_a {
    left: 10%;
  }

  /* T5 */
  .h2_5 {
    font-size: 4cqw;
  }
  .vid_5 {
    width: 287px;
  }
  .con555 {
    /* left: 17%;
    position: relative;
    top: -2%; */
  }
  .grid4_4 {
    height: 1045px;
  }
  .img_con5_b {
    z-index: 300;
    top: -13%;
    width: 301px;
  }
  .img_con5_a {
    left: 1%;
    top: -7%;
    width: 300px;
  }
  .t6_h2 {
    font-size: 4cqw;
  }
  .con_6 {
    display: grid;
  }

  #txt6_1 {
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
  }
  #om_txt_con4 {
    display: grid;
  }
  #string {
    top: 45%;
  }
  .con_kontakt {
    left: 62%;
    padding-top: 16px;
    width: 24cqw;
    height: 11cqw;
    font-size: 3cqw;
  }
  .kontakt-content {
    height: 23%;
  }
  #kon_p {
    font-size: 2.5cqw;
  }
}
